#rand_color_gen {
    --c1: #9c27b0;
    --c2: #f44336;
    --c3: #2196f3;
    --c4: #3f51b5;
    --c5: #673ab7;
    --c6: #009688;
    --c7: #00bcd4;
    --c8: #8bc34a;
    --c9: #4caf50;
    --c10: #ff9800;
    --c11: #ffeb3b;
    --c12: #9e9e9e;
    --c13: #795548;
    --c14: #607d8b;
}